<form method="POST" action="/cats">
  <div>
    <input type="text" name="name" placeholder="Cat name"/>
  </div>

  <div>
    <input type="number" name="age" placeholder="Cat age" />
  </div>

  <div>
    <select name="owner">
      <option value="Edgar">Super Edgar</option>
      <option value="Carlos">Carlos</option>
      <option value="Sabela">Sabela</option>
    </select>
  </div>

  <button type="submit">Crear Gato</button>
</form>
